* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'WorkSans';
    src: url("assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
}
:root{
    --lightpink: hsl(275, 100%, 97%);
    --grayishpurple: hsl(292, 16%, 49%);
    --darkpurple: hsl(292, 42%, 14%);
}

body {
    background: linear-gradient(to bottom, 
        hsl(292, 42%, 14%) 0%, 
        hsl(292, 42%, 14%) 30%, 
        hsl(275, 100%, 97%) 30%, 
        hsl(275, 100%, 97%) 100%);
    margin: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12rem;
}
h{
    font-family: 'WorkSans';
    color: var(--darkpurple);
    font-size: 3rem;
    font-weight: 700;
}
p{
    font-family: 'WorkSans';
    color: var(--darkpurple);
    font-weight: 550;
}
.starIcon{
    height: 2rem;
    width: 2rem;

}
.faqClass{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.container{
    background-color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}
.question{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}
.hidden{
    display: none;
}
button{
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border-radius: 50%;
    border: none;
    height: 1.5rem;
    width: 1.5rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(187, 25, 219);
    cursor: pointer;
}
button:hover{
    background-color: var(--darkpurple);
}
.changeButton{
    background-color: var(--darkpurple);
}

.questionText{
    width: 100%;
    margin-top: 1rem;
    text-align: left;
    font-family: 'WorkSans';
    color: var(--grayishpurple);
    font-weight: 400;
}

